<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="card mb-3">
        <h1 class="store text-center card-header">New&#127873;Prize</h1>
        <div class="card-body">
            <div class="col-10 offset-1">
                <form action="/prize/store" method="POST" novalidate class="validated-form">
                    <div class="mb-3">
                        <label for="prize-name" class="form-label">Prize Name</label>
                        <input type="text" class="form-control" id="prize-name" name="prize[name]" required>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="prize-points" class="form-label">Value</label>
                        <input type="number" class="form-control" id="prize-points" name="prize[points]" required>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="prize-currency" class="form-label">Currency</label>
                        <div id="prize-currency">
                            <div class="form-check">
                                <input class="form-check-input" name="prize[currency]" type="radio" id="potatoes"
                                       value="potatoes&#129364;" checked>
                                <label class="form-check-label" for="potatoes">Potato&#129364;</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="prize[currency]" type="radio"
                                       id="watermelons"
                                       value="watermelons&#127817;">
                                <label class="form-check-label" for="watermelons">Watermelon&#127817;</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="prize[currency]" type="radio"
                                       id="chestnuts"
                                       value="chestnuts&#127792;">
                                <label class="form-check-label" for="chestnuts">Chestnut&#127792;</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="prize[currency]" type="radio" id="eggs"
                                       value="eggs&#129370;">
                                <label class="form-check-label" for="eggs">Egg&#129370;</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="prize-description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="prize-description" name="prize[description]"
                               required>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="mb-3 d-grid gap-2">
                        <button class="btn store"
                                id="prize-submit" <%= !user.type || user.type === "" ? "disabled" : {} %>>Add
                            Prize
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-8 offset-2 mb-3 outcenter">
        <a class="btn store" href="/prize/store">Back to Store</a>
    </div>
</div>
