@font-face {
    font-family: 'Silkscreen';
    src: url('../fonts/Silkscreen-Bold.eot');
    src: url('../fonts/Silkscreen-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Silkscreen-Bold.woff2') format('woff2'),
    url('../fonts/Silkscreen-Bold.woff') format('woff'),
    url('../fonts/Silkscreen-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silkscreen';
    src: url('../fonts/Silkscreen.eot');
    src: url('../fonts/Silkscreen.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Silkscreen.woff2') format('woff2'),
    url('../fonts/Silkscreen.woff') format('woff'),
    url('../fonts/Silkscreen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IPix';
    src: url('../fonts/IPix.eot');
    src: url('../fonts/IPix.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IPix.woff2') format('woff2'),
    url('../fonts/IPix.woff') format('woff'),
    url('../fonts/IPix.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'mplus_hzk_12';
    src: url('../fonts/mplus_hzk_12.eot');
    src: url('../fonts/mplus_hzk_12.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mplus_hzk_12.woff2') format('woff2'),
    url('../fonts/mplus_hzk_12.woff') format('woff'),
    url('../fonts/mplus_hzk_12.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



nav, footer {
    font-family: Silkscreen;
    font-weight: bold;
}

.piglet {
    background-color: #e9899b;
}

.piggy {
    background-color: #fce7d8;
}

.boar {
    background-color: #4b3b30;
    color: white;
}

.bacon {
    background-color:#9d2f1c;
    color: white;
}
.outcenter {
    align-items: center;
    display: flex;
    justify-content: center;
}

.textcenter {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.progress {
    height: 20px;
}

.potato {
    background-color: #90522c;
}

.watermelon {
    background-color: #d2393d;
    color: white;
}

.egg {
    background-color: #e1d3d7;
}

.barn {
    background-color: #ee9622;
}

.completed {
    background-color: #929292;
}

.inprogress {
    background-color: #00c003;
}

.notstarted {
    background-color: #ed0000;
    color: white;
}

.login {
    background-color: #4B9CD3;
}

h1, h3 {
    font-family: Silkscreen;
    font-weight: bold;
}

body {
    margin-top: 100px;
    position: relative;
    min-height: 100vh;
}

body::after {
    content: '';
    display: block;
    height: 50px;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

* {
    font-family: Silkscreen, mplus_hzk_12;
}