<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="card mb-3">
        <h1 class="card-header login textcenter">Update Info</h1>
        <div class="card-body">
            <div class="col-10 offset-1">
                <form action="/user/change?_method=PUT" method="POST" novalidate class="validated-form">
                    <div class="mb-3">
                        <label for="curuser" class="form-label">Current User</label>
                        <input type="text" class="form-control" id="curuser" name="curuser" value="<%= user.name %>"
                               disabled>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="newuser" class="form-label">New Username</label>
                        <input type="text" class="form-control" id="newuser" name="newuser" value="<%= user.name %>">
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="new-secretcode" class="form-label">New Secret Code</label>
                        <input type="text" class="form-control" id="new-secretcode" name="newcode">
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <button class="btn login" id="change-submit" <%= !user.type || user.type === "" ? "Disabled" : {}%>>Update Info
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>