<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="card mb-3">
        <h1 class="card-header login textcenter">Login</h1>
        <div class="card-body">
            <div class="col-10 offset-1">
                <form action="/user/login" method="POST" novalidate class="validated-form">
                    <div class="mb-3">
                        <label for="cur-user" class="form-label">Current User</label>
                        <input type="text" class="form-control" id="cur-user" name="curUser" value="<%= user.name ? user.name : "Visitor" %>"
                               disabled>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="secret-code" class="form-label">Secret Code</label>
                        <input type="text" class="form-control" id="secret-code" name="code">
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <button class="btn login" id="login-submit" <%= !user.type || user.type === "" ? {} : "disabled" %>>Log In
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-8 offset-2 mb-3 outcenter">
        <form action="/user/logout" method="POST">
            <button class="btn watermelon" <%= !user.type || user.type === "" ? "disabled" : {} %>>Log Out</button>
        </form>
    </div>
</div>