<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="card mb-3">
        <h1 class="text-center card-header piglet">Bonus&#128055;Piglet</h1>
        <div class="card-body">
            <div class="col-10 offset-1">
                <form action="/piggy-bank" method="POST" novalidate class="validated-form">
                    <input type="hidden" name="piggybank[status]" value="piglet&#128055;">
                    <input type="hidden" name="piggybank[currency]" value="potatoes&#129364;">
                    <input type="hidden" name="piggybank[type]" value="bonus">
                    <div class="mb-3">
                        <label for="bonus-name" class="form-label">Piglet Name</label>
                        <input type="text" class="form-control" id="bonus-name" name="piggybank[name]" required>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="bonus-points" class="form-label">Potatoes</label>
                        <input type="number" class="form-control" id="bonus-points" name="piggybank[points]" required>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="bonus-date" class="form-label">Birthday</label>
                        <input type="date" class="form-control" id="bonus-date" name="piggybank[date]" required>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Introduction</label>
                        <input type="text" class="form-control" id="description" name="piggybank[description]">
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="mb-3 d-grid gap-2">
                        <button class="btn piglet" id="bonus-submit" <%= user.type === '' ? 'Disabled' : {} %>>Add Bonus
                            Piglet
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-8 offset-2 mb-3 outcenter">
        <a class="btn piglet " href="/piggy-bank/new-piggy">Back to New Piglet</a>
    </div>
    <div class="col-8 offset-2 mb-3 outcenter">
        <a class="btn piggy" href="/piggy-bank">Back to Piggy Bank</a>
    </div>
</div>
