@font-face {
  font-family: 'Silkscreen';
  src: url('/fonts/Silkscreen-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Silkscreen';
  src: url('/fonts/Silkscreen-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IPix';
  src: url('/fonts/IPix.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.theme-color {
  --fall-bg: #ef7b2d;
  --fall-text: #fff7ef;
  background-color: var(--fall-bg);
  color: var(--fall-text);
}

.currency-bar {
  display: flex;
  gap: 12px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;  
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  flex-wrap: wrap;
}

.navbar {
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.card {
  width: 420px;
  max-width: 100%;
}


h1, h2, h3 {
  font-weight: bold;
}

body {
  background: url("../public/background.jpg") no-repeat center center fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size:cover;
  position: relative;
  min-height: 100vh;
}

* {
  font-family: Silkscreen, IPix;
}