<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="card mb-3">
        <h1 class="text-center card-header poop">Edit&#128169;Poop</h1>
        <div class="card-body">
            <div class="col-8 offset-2">
                <form action="/toilet/<%= poop._id %>?_method=PUT" method="POST">
                    <div class="mb-3">
                        <label for="poop-edit-name" class="form-label">Poop Name</label>
                        <input type="text" class="form-control" id="poop-edit-name" name="poop[name]"
                               value="<%= poop.name %>">
                    </div>
                    <div class="mb-3">
                        <label for="poop-edit-date" class="form-label">Date</label>
                        <input type="date" class="form-control" id="poop-edit-date" name="poop[date]"
                               value="<%= poop.date.toISOString().slice(0, 10) %>">
                    </div>
                    <div class="mb-3">
                        <label for="poop-edit-description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="poop-edit-description"
                               name="poop[description]"
                               value="<%= poop.description %>">
                    </div>
                    <div class="mb-3 d-grid gap-2">
                        <button class="btn poop" id="poop-edit-submit">Update Poop</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-8 offset-2 mb-3 outcenter">
        <a class="btn poop" href="/toilet/">Back to Toilet</a>
    </div>
</div>